---
import ExternalIcon from "../icons/ExternalIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"

const { url, url_text, github_url } = Astro.props
---

<a 
  href={url} 
  target="_blank" 
  rel="nofollow" 
  class="inline-block font-bold text-white bg-black hover:bg-zinc-800 transition duration-300 rounded-full py-3 px-7"
>
  <span class="flex items-center justify-center">
    <span>{url_text}</span>
    <ExternalIcon />
  </span>
</a>

{
  github_url && (
    <a 
      href={github_url} 
      target="_blank" 
      class="ml-2 inline-block bg-black hover:bg-zinc-800 transition duration-300 rounded-full py-2 px-3"
      aria-label="Github repository"
    >
      <GithubIcon color="#fff" />
    </a>
  )
}
