---
import Layout from '../layouts/Layout.astro';
import LinkBar from '../components/LinkBar.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout doIndex={true}>
	<div class="text-white">
		<NavBar page="about" />

		<!-- BODY -->
		<main class="container mx-auto flex flex-col justify-evenly h-80">
			<div class="w-5/6 sm:w-3/6 mx-auto flex justify-center align-center">
				<h1 class="text-5xl lg:text-6xl font-clash">Hello, I'm <span class="gradient-text">Rica</span>, a web developer based in Philippines.</h1>
			</div>
		</main>

		<LinkBar />
	</div>
</Layout>
