---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ricafolio" pageTitle="ricafolio.me | web developer" description="Hi! 👋 I'm Rica, a web designer & developer | Passionate about creating visually stunning and user-friendly websites">
	<main>
		<div class="flex-center">
			<h1>Ricafolio</h1>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		height: 90vh;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 8rem;
		font-weight: 800;
		margin: 0;
		background: radial-gradient(104.58% 104.45% at 18.91% 52.2%, rgba(255, 199, 0, 0.2) 0%, rgba(255, 199, 0, 0) 100%), radial-gradient(96.22% 70.96% at 70.08% 82.42%, rgba(130, 4, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(110.73% 50% at 50% 0%, #FD8AFF 0%, rgba(255, 255, 255, 0) 100%), #FFFBF4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	@media screen and (max-width: 1024px) {
		h1 {
			font-size: 6rem;
		}
	}
	@media screen and (max-width: 768px) {
		h1 {
			font-size: 5rem;
		}
	}
	@media screen and (max-width: 640px) {
		h1 {
			font-size: 4rem;
		}
	}
</style>
