---
import Layout from '../layouts/Layout.astro';
import LinkBar from '../components/LinkBar.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout doIndex={true}>
	<div id="swup" class="transition-fade relative text-black">
		<NavBar page="about" />

		<main class="container mx-auto flex flex-col justify-evenly min-h-[77vh] overflow-hidden">
			<div class="w-5/6 sm:w-3/6 mx-auto flex flex-col justify-center align-center">
				<h1 class="text-4xl sm:text-5xl lg:text-6xl font-semibold font-clash uppercase mb-2">
					Hello! I'm <span class="styled-text border-2 sm:border-3 px-1 sm:px-3">Rica</span>,
					<span class="block">A web developer based in Philippines.</span>
				</h1>
			</div>
		</main>

		<LinkBar />
	</div>
</Layout>

<style>
	body {
		background: linear-gradient(0deg, #56ff00, #fffbeb 200px);
	}
	.styled-text {
		display: inline-block;
		background-color: #56ff00;
		border-color: #56ff00;
		transition: all ease-in-out 300ms;
	}
	.styled-text:hover {
		transform: skew(-8deg, 0deg);
		border-color: #000;
		box-shadow: 3px 3px #000;
	}
</style>