---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ricafolio.me | web developer">
	<main>
		<div class="flex-center">
			<h1>Ricafolio</h1>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		height: 90vh;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 8rem;
		font-weight: 800;
		margin: 0;
	}
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	@media screen and (max-width: 1024px) {
		h1 {
			font-size: 6rem;
		}
	}
	@media screen and (max-width: 768px) {
		h1 {
			font-size: 5rem;
		}
	}
	@media screen and (max-width: 640px) {
		h1 {
			font-size: 4rem;
		}
	}
</style>
