---
import Layout from '../layouts/Layout.astro';
import LinkBar from '../components/LinkBar.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout>
	<main class="text-white">
		<NavBar />

		<!-- BODY -->
		<div class="container mx-auto flex flex-col justify-evenly h-80">
			<div class="w-5/6 sm:w-3/6 mx-auto flex justify-center align-center">
				<h1 class="text-5xl lg:text-6xl">Hello, I'm <span id="gradient-text">Rica</span>, a web developer based in Philippines.</h1>
			</div>
		</div>

		<LinkBar />
	</main>
</Layout>

<style>
	#gradient-text {
		margin: 0;
		background: radial-gradient(104.58% 104.45% at 18.91% 52.2%, rgba(255, 199, 0, 0.2) 0%, rgba(255, 199, 0, 0) 100%), radial-gradient(96.22% 70.96% at 70.08% 82.42%, rgba(130, 4, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(110.73% 50% at 50% 0%, #FD8AFF 0%, rgba(255, 255, 255, 0) 100%), #FFFBF4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.h-80 {
		height: 80vh;
	}
</style>
