---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Project from '../components/Project.astro';
---

<Layout doIndex={false}>
	<div class="text-white">
    <NavBar page="projects" />

    <!-- BODY -->
		<main class="container mx-auto flex flex-col mt-16 px-4 md:px-12">
			<div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h1 class="w-full text-4xl font-clash mb-6">Personal Projects</h1>

        <Project
          img_file_name="mml"
          progress={{text: "In progress", color: "text-pink-500"}}
          title="MyManhwaList"
          description="Discover Manhwa reading lists"
          tools={['Next.js', 'Strapi', 'Tailwind CSS']}
          url="https://mymanhwalist-next.vercel.app"
          url_text="Live demo"
        />
			</div>

      <div class="mx-auto flex flex-row flex-wrap align-center mb-8 md:mb-32">
				<h1 class="w-full text-4xl font-clash mb-6">Client Projects</h1>

        <Project
          img_file_name="chef"
          progress={null}
          title="Chef"
          description="Responsive landing page"
          tools={['HTML', 'CSS', 'jQuery', 'Jekyll']}
          url="https://usechef.com/"
          url_text="Live demo"
        />

        <Project
          img_file_name="bot"
          progress={{text: "Demo offline", color: "text-red-500"}}
          title="Premint Links Discord Bot"
          description="Bot that scrapes latest premint links shared across Twitter"
          tools={['Discord.js', 'Node.js', 'Twitter API']}
          url="https://top.gg/bot/1006311461175443526"
          url_text="Product page"
        />

        <Project
          img_file_name="cult"
          progress={{text: "Demo offline", color: "text-red-500"}}
          title="NFT Referral"
          description="Referral campaign system for NFT project"
          tools={['Nuxt.js', 'Strapi', 'Node.js', 'Twitter OAuth']}
          url="https://twitter.com/search?q=cultofeth.xyz&src=typed_query&f=live"
          url_text="See campaign results"
        />
      </div>
		</main>
  </div>
</Layout>
