---
import LinkedInIcon from './icons/LinkedIn.astro';
import GithubIcon from './icons/Github.astro';
import VSCOIcon from './icons/VSCO.astro';
import DribbbleIcon from './icons/Dribbble.astro';
import TwitchIcon from './icons/Twitch.astro';
---
<div class="flex justify-center align-center">
  <div class="link-bar">
    <a href="https://www.linkedin.com/in/ricafolio/" target="_blank" class="link-button mr-2" rel="noopener noreferrer" title="LinkedIn">
      <LinkedInIcon />
    </a>
    <a href="https://github.com/ricafolio" target="_blank" class="link-button mr-2" rel="noopener noreferrer" title="Github">
      <GithubIcon />
    </a>
    <a href="https://vsco.co/zz-rica/gallery" target="_blank" class="link-button mr-2" rel="noopener noreferrer" title="Photography">
      <VSCOIcon />
    </a>
    <a href="https://dribbble.com/notrica" target="_blank" class="link-button mr-2" rel="noopener noreferrer" title="Dribbble">
      <DribbbleIcon />
    </a>
    <a href="https://www.twitch.tv/thejyuviole/videos?category=1469308723&filter=archives&sort=time" target="_blank" class="link-button" rel="noopener noreferrer" title="Watch my software development streams ;)">
      <TwitchIcon />
    </a>
  </div>
</div>

<style>
  .link-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4px;
    padding: 10px;
  }
  .link-button {
		display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    background-color: #fff;
    box-shadow: 0px 1px 9px #78555585, inset 0px 0px 7px #80808054;
    border-radius: 12px;
  }
</style>