---
---

<div class="long-strip bg-black text-white overflow-hidden flex flex-col items-center justify-center">
  <div class="long-strip-ticker">
    {
      [...Array(3)].map((i) => (
        <div class="afw inline-block uppercase font-semibold mb-2">
          <span class="inline-block mb-2">💼</span> Available for work
        </div>
      ))
    }
  </div>
</div>

<style>
  .long-strip {
    height: 100vh;
    overflow: hidden;
  }
  .long-strip-ticker {
    position: relative;
  }
  .afw {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
</style>
