---
---

<div class="long-strip absolute left-0 top-0 bg-black text-white overflow-hidden flex flex-col items-center justify-center">
  <div class="long-strip-ticker">
    {
      [...Array(5)].map((i) => (
        <div class="afw inline-block uppercase font-semibold mb-2">
          <span class="inline-block mb-2">💼</span> Available for work
        </div>
      ))
    }
  </div>
</div>

<style>
  .long-strip {
    max-width: 4rem;
    height: 100vh;
    z-index: 5;
    overflow: hidden;
  }
  .long-strip-ticker {
    position: relative;
    animation: moveTicker 20s linear infinite;
  }
  .afw {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  @keyframes moveTicker {
    from {
      transform: translate3d(0%, 0%, 0px);
      top: 100%;
    }
    to {
      transform: translate3d(0%, -100%, 0px);
      top: 20%;
    }
  }
</style>
