<div class="flex justify-center font-satoshi font-medium text-sm sm:text-base">
  <div class="flex bg-zinc-800 rounded-b-lg">
    <a href="/" class="px-8 py-5 text-zinc-300 hover:text-white ease-linear duration-150">About</a>
    <a href="/projects" class="px-8 py-5 text-zinc-300 hover:text-white ease-linear duration-150">Projects</a>
  </div>
</div>
